{% load static %}
<footer class="footer">
  <hr class="hr-gradient mb-5">
  <div class="container">
    <div class="row">
      <div class="navbar-brand col-lg-3 mb-4 ms-auto text-md-center">
        <img src="{% static 'imgs/logo/logo_image.svg' %}" alt="Logo"> <img src="{% static 'imgs/logo/logo_text.svg' %}" alt="Logo text">
      </div>
      <div class="d-none d-md-block d-lg-none col-3"></div>
      <div class="footer-links-section col-lg-2 col-md-4 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="fw-bold">About us</h6>
          <div class="flex-column">
            <a href="#" class="footer-link">About Porject</a>
            <a href="#" class="footer-link">Management</a>
            <a href="#" class="footer-link">Flexibility and Safety</a>
          </div>
        </div>
      </div>
      <div class="footer-links-section col-lg-2 col-md-4 col-sm-6 col-6 mb-4 me-auto">
        <div>
          <h6 class="fw-bold">Links & Contacts</h6>
          <div class="flex-column">
            <a href="#" class="footer-link">Project's Github</a>
            <a href="#" class="footer-link">Author's contact page</a>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <p class="my-4">
            <span class="text-secondary">Synergy UA • Copyright © 2024</span><br>
            <span class="text-secondary">
              Coded by <a href="http://quiet-klirik.pp.ua" target="_blank" class="nav-link bob-on-hover">@Quiet_Klirik</a>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
