{% load static %}
<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'imgs/logo/logo_image.svg' %}" alt="Logo"> <img src="{% static 'imgs/logo/logo_text.svg' %}" alt="Logo text">
    </a>
    <ul class="navbar-items">
      {% block navbar_items %}{% endblock navbar_items %}
      <li class="nav-item nav-icon dropdown">
        <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{% static 'imgs/icons/user-settings-line.svg' %}" alt="Profile icon" height="40px">
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="{% url 'profile-redirect' %}">Profile</a></li>
          <li><a class="dropdown-item" href="{% url 'task_manager:team-list' %}">Teams</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
