.header {
	background-image: url("/static/imgs/note.jpg");
	background-position: center 75%;
	background-repeat: no-repeat;
	background-size: auto;
}

@media screen and (min-width: 992px) {
	.header {
		background-size: 100%;
	}
}

.header__container {
	background: rgba(255, 255, 255, 0.4);
}

.task-card {
	min-height: 180px;
	text-decoration: none;
	transition: background-color 0.2s;
}

.task-card:hover {
	background-color: rgb(250, 250, 250);
}
