{% extends "base.html" %}
{% block title %}Notifications{% endblock title %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container text-center">
    <h1>All Notifications</h1>
    <div class="row">
      <form method="get" action="" class="col-12 col-md-6 m-auto mt-4 fs-5">
        {{ team_filter_form|crispy }}
        <input type="submit" value="Filter by the team" class="btn btn-outline-primary">
      </form>
      {% if team_filter %}
        <form method="get" action="" class="col-12 col-md-6 mt-4 fs-5">
          <input type="hidden" name="team" value="{{ team_filter }}">
          {{ project_filter_form|crispy }}
          <input type="submit" value="Filter by the project" class="btn btn-outline-primary">
        </form>
      {% endif %}
    </div>
    <div class="list-group list-group-flush col-12 col-md-6 m-auto">
      <hr class="hr-gradient mt-4 mb-0">
      {% for notification in notification_list %}
        <a href="{% url 'task_manager:notification-redirect' id=notification.id %}" class="list-group-item list-group-item-action {% if notification.is_read %}text-secondary{% else %}fw-medium{% endif %}">
          <div class="text-secondary">{{ notification.task.project.working_team }} / {{ notification.task.project }}</div>
          <p class="mb-2">
            {{ notification.message_text }}
          </p>
          <small class="fw-normal">{{ notification.sent_at }}</small>
        </a>
      {% empty %}
        <h2 class="text-center text-secondary mt-5">There are no notifications</h2>
      {% endfor %}
    </div>
    {% include 'includes/pagination.html' %}
  </div>
{% endblock content %}
