<h1>
  <a href="{% url 'task_manager:project-detail' team_slug=project.working_team.slug project_slug=project.slug %}">
    {{ project.name }}
  </a> - {% if object == user %}
  	Your
  {% else %}
    {{ object.username }}
  {% endif %} tasks</h1>
{{ object.position.name }}

<h2>Assigned tasks</h2>
<ul>
  {% for task in assigned_tasks %}
  	{{ task }}
  {% empty %}
    No tasks
  {% endfor %}
</ul>

<h2>Requested tasks</h2>
<ul>
  {% for task in requested_tasks %}
  	{{ task }}
  {% empty %}
    No tasks
  {% endfor %}
</ul>
