{% extends "base.html" %}
{% block content %}
<h1>
  <a href="{% url 'task_manager:project-detail' team_slug=project.working_team.slug project_slug=project.slug %}">
    {{ project.name }}
  </a> - {% if object == user %}
  	Your
  {% else %}
    {{ object.username }}
  {% endif %} tasks
  (<a href="{% url 'task_manager:project-member-assign-task' team_slug=project.working_team.slug project_slug=project.slug user_slug=object.username %}">Assign task</a>)
</h1>
{{ object.position.name }}

<h2>Assigned tasks</h2>
<ul>
  {% for task in assigned_tasks_page.object_list %}
  	<li><a href="{% url 'task_manager:task-detail' team_slug=project.working_team.slug project_slug=project.slug task_id=task.id %}">{{ task }}</a></li>
  {% empty %}
    No tasks
  {% endfor %}
</ul>
{% include "includes/task_paginations/assigned_tasks_pagination.html" with page_obj=assigned_tasks_page paginator=assigned_tasks_page.paginator %}
<h2>Requested tasks</h2>
<ul>
  {% for task in requested_tasks_page.object_list %}
  	<li><a href="{% url 'task_manager:task-detail' team_slug=project.working_team.slug project_slug=project.slug task_id=task.id %}">{{ task }}</a></li>
  {% empty %}
    No tasks
  {% endfor %}
  {% if user == object %}
  	<li><a href="{% url 'task_manager:task-create' team_slug=project.working_team.slug project_slug=project.slug%}">+</a></li>
  {% endif %}
</ul>
{% include "includes/task_paginations/requested_tasks_pagination.html" with page_obj=requested_tasks_page paginator=requested_tasks_page.paginator %}
{% include "includes/notifications.html" %}
{% endblock content %}
