{% extends "base_form_select2.html" %}

{% block title %}
  {% if assignee %}
    Task Assign
  {% else %}
    Task {{ object|yesno:"Update,Create" }}
  {% endif %}
{% endblock title %}

{% block form_title %}
  {% if assignee %}
    <h1 class="text-center">Assign a Task for {{ assignee.first_name }} {{ assignee.last_name }}</h1>
  {% else %}
    <h1 class="text-center">Task {{ object|yesno:"Update,Request" }} Form</h1>
  {% endif %}
  <div class="text-center text-secondary">Project: {{ project.name }}</div>
{% endblock form_title %}
