{{ object.slug }}
<h1>{{ object.name }}</h1>
{% if user == object.founder %}
  <a href="{% url 'task_manager:team-update' team_slug=object.slug %}">Edit</a>
  _____
  <a href="{% url 'task_manager:team-delete' team_slug=object.slug %}">Delete</a>
  <br><br>
{% endif %}
<div>
  Founder:
  <a href="{% url 'profile' slug=object.founder.username %}">
    {{ object.founder.first_name }} {{ object.founder.last_name }}
  </a>
</div>
<div>
  Members :
  {% for member in object.members.all %}
    <a href="{% url 'profile' slug=member.username %}">{{ member.first_name }} {{ member.last_name }}</a>
    {% if user == object.founder %}
      <a href="{% url 'task_manager:team-kick-member' team_slug=object.slug member_username=member.username %}">-</a>
    {% endif %}
  {% empty %}
    no members
  {% endfor %}
</div>
<h2>Projects:</h2>
<ul>
  {% for project in object.projects.all %}
    <li>
      {{ project.name }}
      {% if user in object.members.all %}
        (<a href="{% url 'task_manager:project-detail' team_slug=object.slug project_slug=project.slug %}">Open</a>)
      {% else %}
        (<a href="{% url 'task_manager:project-landing' team_slug=object.slug project_slug=project.slug %}">Landing</a>)
      {% endif %}
      {% if user in object.members.all %}
        <a href="{% url 'task_manager:project-member-tasks' team_slug=object.slug project_slug=project.slug user_slug=user.username %}">My tasks</a>
      {% endif %}
    </li>
  {% endfor %}
  {% if object.founder == user %}
    <li><a href="{% url 'task_manager:project-create' team_slug=object.slug %}">+</a></li>
  {% endif %}
</ul>
