<h2>
  Involved teams
</h2>
<ul>
  {% for team in involved_teams %}
    <li>
      <a href="{% url 'task_manager:team-detail' team_slug=team.slug %}">{{ team.name }}</a>
    </li>
  {% empty %}
    <h3>There are no involved teams</h3>
  {% endfor %}
</ul>
<h2>
  Founded teams
</h2>
<ul>
  {% for team in founded_teams %}
    <li>
      <a href="{% url 'task_manager:team-detail' team_slug=team.slug %}">{{ team.name }}</a>
    </li>
  {% endfor %}
  <li>
    <a href="{% url 'task_manager:team-create' %}">+</a>
  </li>
</ul>
{% include "includes/notifications.html" %}
